body{
    font-family: sans-serif;
    text-align:center;
    background:#f4f4f4;
    margin-top:40px;
}

input{
    padding:10px;
    width:220px;
    font-size:18px;
}

button{
    padding:10px 20px;
    font-size:18px;
    cursor:pointer;
}

table{
    margin:20px auto;
    border-collapse:collapse;
}

td{
    border:1px solid #999;
    padding:10px 30px;
    font-size:18px;
}

.detail{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:40px;
}

.imageArea{
    display:flex;
    gap:10px;
}

.trainImage{
    width:100px;
}